@page "/todo"
@using Jinaga
@using ViewModels.Todo
@inject TodoViewModel viewModel
@implements IDisposable

<h1>ToDo</h1>

@if (viewModel.Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var item in viewModel.Items)
        {
            <li>
                <input type="checkbox"
                    checked="@item.IsCompleted"
                    @onclick="async (e) => await viewModel.SetCompleted(item)"
                    @onclick:preventDefault />
                @item.Description
            </li>
        }
    </ul>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        await viewModel.Load(StateHasChanged);
    }

    public void Dispose()
    {
        viewModel.Unload();
    }
}